.wrapper2{
    position: absolute;
    display: flex;
    justify-content: center;
    top:110%;
    height: 80%;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
}

.title h4{
    font-size: 3rem;
   
}
.about{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about p{
    font-size: 1.75rem;
    width: 40%;
    text-align: left;
}
.about img{
    width: 40%;
    height: 90%;
}