.wrapper2{
    position: absolute;
    display: flex;
    justify-content: center;
    /* align-items: center;  */
    top:110%;
    height: 80%;
    width: 100%;
    margin-left: 25px;
    padding: 0;
    flex-wrap: wrap;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
}

.title h4{
    font-size: 45px;
   
}
.about{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about p{
    font-size: 30px;
    width: 40%;
}
.about img{
    width: 40%;
    height: 90%;
}