.wrapper1{
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.video {
  position: absolute;
  width:100%;
  top:11%;
  z-index: -2;
}
.landing{
  position: absolute;
  top:11%;
  left:10%;
  width: 60%;
  color:rgb(0, 0, 0);
}
.landing h4{
  font-size: 4rem;
  font-weight: 400;
}
.boton{
  position: absolute;
  font-size: 1.7rem;
  border: transparent;
  /* border-radius: 10px; */
  background-color: #b7e2ffbb;
  top: 70%;
  width: 190px;
  height: 50px;
  transition:  0.15s linear 0s;
  cursor: pointer;
}
.boton:hover{
  background-color: #7998adde;
}

